@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,500;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,500;1,800&family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap');
html {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
}

/* nav styling*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: black;
    text-decoration:none;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10%;
    background-color: white;
}

.logo {
    cursor: pointer;
    order: 1;
    margin-right: 30px;
    height: 3.5rem;
}

nav {
    order: 2;
    align-items: flex-end;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #1B6E50;
    text-decoration: underline;
}

.contact {
    order:3;
}
.contact button {
    margin-left: 20px;
    padding: 5px 20px;
    border: 2px #1B6E50 solid;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3x ease 0s;
    color: black;
    background-color: white;
}

.contact button:hover {
    background-color: #1B6E50;
    border: 2px #1B6E50 solid;
    color: white;
}

/*body styling*/

.back{
    margin-top: 2.5rem;
    margin-left: 10%;
}

.back_button{
    background-color: white;
    border: none;
    cursor:pointer;
    font-size: 16px;
}

.case_study{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.case_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-image: url("images/ACGA/Untitled.png");
    background-color: #9FCCA1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 3%;
    margin-top:2.5rem;
    border-radius: 30px;
}

.case_intro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_title{
    text-align: center;
    font-size: 28px;
    font-weight: 100;
    padding:2%;
    
}

.header_title h1{
    width: 15rem;
    font-weight: 300;
    color: #1B6E50;
    background-color: white;
    padding: 2%;
    border-radius: 30px;
}

.header_image{
    width: 50%;
}

.header_image img{
    object-fit: contain;
    width: 100%;
}

.summary{
    margin: 1%;
    width: 80%;
}

.summary h4{
    padding-top:2%;
    padding-bottom:2%;
    font-weight: 300;
    text-align: center;
    font-size: 20px;
}

.summary p{
    padding-top:2%;
    padding-bottom: 10%;
    font-weight: 100;
}

.summary a{
    margin-top:5%;
    margin-bottom:5%;
    padding-top: 5%;
    font-weight: 100;
    text-align: center;
}

.summary h5{
    font-size: 20px;
    font-weight: 100;
}

.summary h5:hover{
    font-weight: 300;
    text-decoration: underline;
}

.summary_table{
    margin-top: 10%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.design_role, .deliverables {
    display: flex;
    flex-direction: column;
    background-color: #1B6E5099;
    min-width: 15rem;
    padding: 2%;
    border-radius: 30px;
}

.tools{
    display: flex;
    flex-direction: column;
    background-color: #1B6E50;
    min-width: 10rem;
    padding: 2%;
    border-radius: 30px;
}

.design_role_header, .tools_header, .deliverables_header{
    text-align: center;
    padding: 2%;
    background-color: white;
    border-radius: 30px;
}

.design_role_items, .tools_items, .deliverables_items{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    color: white;
    height: 15rem;
    padding-top: 2%;
    padding-left: 5%;
    padding-bottom: 2%;
    
}

.design_role h2, .deliverables h2, .tools h2{
    font-weight: 100;
}

.overview{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.overview h2{
    text-align: center;
    margin: 5%;
    font-weight: 300;
    color: #1B6E50;
}

.overview_text{
    margin:2%;
}

.overview_text h3{
    margin-top:2%;
    margin-bottom:2%;
    font-weight: 100;
}

.overview_text p{
    font-size: 16px;
    font-weight: 100;
}

.overview_mockups{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 5%;
}

.overview_img1 img{
    width: 12.5rem;
}

.overview_img2 img{
    width: 12.5rem;
}

.overview_img3 img{
    width: 12.5rem;
}

.process{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.process h2{
    text-align: center;
    margin-top:2.5rem;
    margin-bottom:2.5rem;
    font-weight: 300;
    color: #1B6E50;
}

.process h3{
    text-align: center;
    margin-top:2%;
    margin-bottom:5%;
    font-weight: 100;
}

.process p{
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    font-size: 16px;
    margin-bottom:5%;
}

.research {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.insight1 {
    height: 10rem;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6E8EA7;
    border-radius: 90px;
}

.insight2 {
    height: 10rem;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6E8EA7;
    border-radius: 90px;
}

.insight3 {
    height: 10rem;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6E8EA7;
    border-radius: 90px;
}

.persona {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.persona h4{
    margin-top: 2.5rem;
    margin-bottom:2.5rem;
    font-weight: 100;
    font-size: 20px;
}

.persona_img{
    display: flex;
    justify-content: center;
}

.persona_img img{
    width: 60%;
    object-fit: contain;
}

.competitor_analysis {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.competitor_analysis h4{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    font-weight: 100;
    font-size: 20px;
}

.competitor_analysis p{
    text-align: left;
    margin-bottom: 2.5rem;
    line-height: 1.5rem;
}

.competitor_analysis_img{
    display: flex;
    justify-content: center;
}

.competitor_analysis_img img{
    width: 80%;
    object-fit: contain;
}


.ideation{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ideation h2{
    text-align: center;
    margin-top: 7.5rem;
    margin-bottom: 2.5rem;
    font-weight: 300;
    color: #1B6E50;
}

.site_map{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.site_map h4{
    margin-bottom: 2.5rem;
    font-weight: 100;
    font-size: 20px;
}

.site_map p{
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 2.5rem;
}

.site_map_img img{
    object-fit: contain;
    width: 100%;
}

.user_journey{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.user_journey h4{
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-weight: 100;
    font-size: 20px;
}

.user_journey p{
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 2.5rem;
}

.user_journey_img img{
    object-fit: contain;
    width: 100%;
}

.prototype{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.prototype h2{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
    font-weight: 300;
    color: #1B6E50;
}

.prototype p{
    font-weight: 100;
    font-size: 16px;
    text-align: left;
}

.low_v_high1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
}

.img1container{
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: baseline;
    justify-content: space-around;
}

.lh_img1 img{
    width: 10rem;
}

.lh_img2 img{
    width: 10rem;
}

.lh1_text{
    width: 50%;
    font-size: 16px;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.low_v_high2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
}

.img2container{
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: baseline;
    justify-content: space-around;
}

.lh_img1 img{
    width: 10rem;
}

.lh_img2 img{
    width: 10rem;
}

.lh2_text{
    width: 50%;
    font-size: 16px;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.low_v_high3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
}

.img3container{
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: baseline;
    justify-content: space-around;
}

.lh_img1 img{
    width: 10rem;
}

.lh_img2 img{
    width: 10rem;
}

.lh3_text{
    width: 50%;
    font-size: 16px;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.testing{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.tests{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.testing h2{
    margin-top:5%;
    margin-bottom:5%;
    font-weight: 100;
    font-weight: 300;
    color: #1B6E50;
}

.testing p{
    font-size: 16px;
    font-weight: 100;
}

.lh_test1{
    display: flex;
    flex-direction: row;
    margin-top:5%;
    margin-bottom:5%;
    align-items: center;
    justify-content: center;
}

.lh_test1_img1 img{
    width: 12.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lh_test1_img2 img{
    width: 12.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lh1_text{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lh1_text h6{
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 1rem;
}

.lh_test2{
    display: flex;
    flex-direction: row;
    margin-top:5%;
    margin-bottom:5%;
    align-items: center;
    justify-content: center;
}

.lh_test2_img1 img{
    width: 12.5rem;
}

.lh_test2_img2 img{
    width: 12.5rem;
}

.lh2_text{
    padding-left: 5%;
    padding-right: 5%;
}

.lh2_text h6{
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 1rem;
}

.lh_test3{
    display: flex;
    flex-direction: row;
    margin-top:5%;
    margin-bottom:5%;
    align-items: center;
    justify-content: center;
}

.lh_test3_img1 img{
    width: 12.5rem;
}

.lh_test3_img2 img{
    width: 12.5rem;
}

.lh3_text{
    padding-left: 5%;
    padding-right: 5%;
}

.lh3_text h6{
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 1rem;
}

.accessibility h2{
    text-align: center;
    font-weight: 100;
}

.final_prototype{
    width:80%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.grid{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.grid h2{
    font-weight: 100;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
}

.grid img{
    width: 80%;
    object-fit: contain;
}

.final_clickable_product{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.final_clickable_product h2{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    font-weight: 100;
}

.final_product_visual img {
    width: 15rem;
}

.next_steps h3{
    font-weight: 100;
    margin-top: 5%;
    margin-bottom: 2.5%;
}

.next_steps p{
    font-weight: 100;
    font-size: 16px;
    line-height: 1.5rem;
}

.lessons_learned h3{
    font-weight: 100;
    margin-top: 5%;
    margin-bottom: 2.5%;
}

.lessons_learned p{
    font-weight: 100;
    font-size: 16px;
    margin-bottom: 5%;
}

.bottom_nav{
    border-top: 3px #373F47 solid;
    background-color: #6E8EA7;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.bottom_buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button1, .button2, .button3{
    background-color: #6E8EA7;
    border: none;
    cursor:pointer;
    color: white;
    font-weight: 300;
}

.button2{
    padding-right: 1.5rem;
}

/* footer style */

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    height:8rem;
    border-top: 3px #373F47 solid;
}

.footer-container p {
    padding-top: 2%;
    font-size: 10px;
}

.footer_links {
    list-style: none;
    background-color: white;
    border-radius: 20px;
}

.footer_links li {
    display: inline-block;
    padding: 0px 20px;
}

.footer_links li a {
    transition: all 0.3s ease 0s;
    height: 2rem;
    width: auto;
}

.footer_links li a img {
    height: 2rem;
    width: auto;
}

.footer_links li a:hover {
    color: #1B6E50;
    text-decoration: underline;
}

.footer_img{
    height: 3rem;
    width: auto;
    margin-top: 1rem;
    padding: 5px;
    border: 3px #373F47 solid;
    background-color: white;
    border-radius: 20px;
}

@media screen and (max-width: 992px){
    .project_cards{
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;
}
}